[Desktop Entry]
Encoding=UTF-8
Name=DotoriCoin Wallet
Comment=DotoriCoin wallet
Exec=dotoricoinwallet %U
Terminal=false
Type=Application
Icon=dotoricoin
MimeType=x-scheme-handler/dotoricoin;
Categories=Office;Finance;
